// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.movies {
  table {
    border-collapse: collapse;
  }
  table tr td {
    padding: 5px;
    vertical-align: top;
  }

  .list_image {
    width: 250px;
    height: 320px;
  }

  .list_description {
    width: 100%;

    dl {
      margin: 0;
    }

    dt {
      color: #244;
      font-weight: bold;
      font-size: xx-large;
      padding-bottom: 30px;
    }

    dd {
      margin: 10px;
      font-size: medium;
    }
  }

  .list_actions{
    font-size: x-small;
    text-align: right;
    padding-left: 1em;

  }

  .list_action a{
    height: 100%;
    color: #FFF;
  }

  .list_action a:hover{
    background: transparent;
    text-decoration: none;
  }

  .list_action button{
    width: 100%;
    margin: 20px;
  }

  .list_line_even {
    background: #fff;
  }

  .list_line_odd {
    background: #fff;
  }
}