<% if user_signed_in? %>
    <li class="nav-link"><%= link_to 'Sing out', destroy_user_session_path, method: :delete %></li>
<% elsif admin_signed_in? %>
    <li class="nav-link"><%= link_to 'Sing out', destroy_admin_session_path, method: :delete %></li>
<% else %>
    <li class="nav-link"><%= link_to 'Sing in', new_user_session_path %></li>
    <li class="nav-link"><%= link_to 'Sing up', new_user_registration_path %></li>
<% end %>